
body{

    background-color: #fafafa;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


header{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    color: #3b3b3b;
    background-color: #fafafa;

    
}


.headerMenu{
    width: 100%;
    height: 3vh;
    text-align: center;
    border-bottom: 1px solid #363636;
    border-top: 1px solid #363636;
    background-color: #fafafa;
}

.menuButton{
    border-radius: 8px;
    margin-top: 0.5vh;
    margin-right: 1vw;
    color: #363636;
    font-size: 0.80vw;
    font-weight: 550;
    width: 8vw;
    border: none;
    
    background-color: #fafafa;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),
                0 1px 1px rgba(0,0,0,0.25), 
                0 1px 1px rgba(0,0,0,0.20), 
                0 1px 1px rgba(0,0,0,0.15), 
                0 2px 2px rgba(0,0,0,0.10);
}



#mainLogo{
    text-align: left;
    margin-left: 1vw;
    margin-top: 0.5vh;
    font-size: 3vh;
    color: #105ea7;
}

#slogan{
    text-align: left;
    margin-left: 1.2vw;
    margin-top: -2.6vh;
    font-size: 1.2vh;
    color: #3b3b3b;
}



.mainBody{
    margin: auto;
    margin-top: 10vh;
    font-size: 4vh;
    width: 95vw;
    min-height: 65vh;
    text-align: center;
    color: #3b3b3b;
    background-color: #fafafa;
}


.productSelection{
    display: flex;
    flex-direction: row;
}

.product{
    margin: auto;
    font-size: 4vh;
    min-width: 15vw;
    height: 30vh;
    border: none;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);
}

.product .productTittle{
    font-size: 2.5vh;
    font-weight: 550;
    text-align: left;
    margin-left: 1vw;
}

.product .productSubTittle{
    font-size: 1.5vh;
    font-weight: 550;
    text-align: left;
    margin-left: 1vw;
    margin-top: -2.25vh;
}

.product .productButton{
    border: none;
    border-radius: 8px;
    font-size: 1.5vh;
    margin-left: 10vw;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);
}


.categorySelector{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    font-size: 4vh;
    width: 85vw;
    height: 60vh;
    border: none;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);
}

.categorySelector .category{
    margin: auto;
    margin-top: 3vh;
    height: 25vh;
    width: 40vw;
    border: none;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);   
}


.reviewCarrusel{
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 80vw;
}

.reviewCarrusel .reviewButton{
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 2vw;
    margin-left: 2vw;
    text-align: center;
    background-color: #fafafa;
    border: none;
    font-size: 5vh;
    border-radius: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);
}


.reviewCarrusel .review{
    width: 75vw;
    display: flex;
    margin: auto;
    flex-direction: row;
    border-radius: 8px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);
}


.reviewCarrusel.review .reviewUserImage{
    margin: auto;
}

.reviewCarrusel .review .reviewUser{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.reviewCarrusel .review .reviewUser .reviewName{
    font-size: 3.5vh;
    text-align: left;
}

.reviewCarrusel .review .reviewUser .reviewText{
    font-size: 2vh;
    text-align: left;
}




footer{
    
    width: 100%;
    text-align: center;
    color: #3b3b3b;
    border-top: 1px solid #363636;
    background-color: #fafafa

}