.mainDiv{
    
    margin: auto;
    width: 75%;
    height: 75vh;
    border: none;
    border-radius: 32px;
    text-align: center;
    background-color: #212121;
    color: rgb(234, 234, 234);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2),
                0px -6px 6px rgba(0, 0, 0, 0.3),
                6px  0px 6px rgba(0, 0, 0, 0.3),
                -6px 0px 6px rgba(0, 0, 0, 0.3);
}

#tittleChat{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: #fafafa;
}

.mainDiv #messagesDiv{
    margin: auto;
    background-color: #363636;
    border: 1px solid #0b0b0b79;
    border-radius: 16px 16px 0 0;
    height: 90%;
    overflow: auto;

}


.mainDiv #messagesDiv .messageClassDiv1{
    margin: auto;
    margin-top: 1%;
    margin-left: 0;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(228, 228, 228);
    color: #212121;
    border-radius: 16px;
    width: auto;
    max-width: 45%;
    box-shadow: 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35);
}

.mainDiv #messagesDiv .messageClassDiv2{
    margin: auto;
    margin-top: 1%;
    margin-right: 0;
    border: 1px solid rgb(235, 0, 215);
    background-color: rgb(235, 0, 215);
    border-radius: 16px;
    width: auto;
    max-width: 45%;
    box-shadow: 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35);
}

.mainDiv #messagesDiv .messageClassDiv3{
    margin: auto;
    margin-top: 1%;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgb(77, 77, 77);
    border-radius: 16px;
    width: auto;
    max-width: 45%;
    box-shadow: 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35);
}



.mainDiv .inputDiv{
    height: 10%;
    border: 1px solid #0b0b0b79;
    border-radius: 0 0 32px 32px;
    background-color: #363636;
}


.mainDiv .inputDiv #inputInput{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 0.5%;
    border-radius: 16px;
    text-align: center;
    border: 1px solid #0b0b0b79;
}

.mainDiv .inputDiv #inputButton{
    
    margin: auto;
    margin-top: 0.55%;
    margin-left: 1%;
    font-size: 150%;
    height: 5vh;
    width: 5vh;
    border-radius: 32px;
    border: 1px solid #0b0b0b79;
    background-color: #363636;
    color: #fafafa;
    box-shadow: 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35), 
              0 1.5px 1.5px rgba(0,0,0,0.35),
              0 1.5px 1.5px rgba(0,0,0,0.35);
}

.mainDiv .inputDiv #inputButton:hover{
    background-color: #cbcbcb;
    color: #363636;
}


#footerText{
    margin: auto;
    margin-top: 2%;
    text-align: center;
    color: #fafafa;
}